.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #2f2d2d, #1d1c1c);
    padding: 15px 20px;
    color: white;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    margin-top: 30px;
    flex-wrap: wrap; 
  }
  
  .task-image {
    width: 220px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .task-image:hover {
    transform: scale(1.05);
  }
  
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
    position: relative;
  }
  
  .nav-links a,
  .nav-links span {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
  }
  
  .nav-links a:hover,
  .nav-links span:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    min-width: 150px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu a {
    color: #333;
    padding: 10px 15px;
  }
  
  .dropdown-menu a:hover {
    background: #008CBA;
    color: white;
  }
  
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .not-found-container {
    text-align: center;
  }
  
  .not-found-image {
    width: 300px;
    height: auto;
    margin-top: 20px; 
  }


